<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnection" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-CD9Q5K9\YEIMSFSQL; Database=Project; UserID=sa; password=0Y10e92i64m69s68F;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>